@use 'sass:map';

$font-family: 'Montserrat', sans-serif;

$font-sizes: (
  xs: 12px,
  sm: 14px,
  md: 16px,
  bg: 18px,
  lg: 22px,
  xl: 24px,
  xxl: 28px,
  xxxl: 32px,
);

@function text($size: 'md') {
  @return map.get($font-sizes, $size);
}
